<div class="container custom-container">
  <div class="row">
    <div class="col col-12">
      <h3 class="header m-bottom-15px">Skill Tracker: Update Employee Skills</h3>
      <div class="row m-bottom-15px border-bottom-divider">
        <form #associateForm="ngForm" novalidate class="associateForm">
          <div class="col col-6 col-md-4 m-bottom-15px">
            <div class="row">
              <div class="col col-12">
                <div class="row">
                  <div class="col col-12 col-md-4">
                    <p class="labelText">
                      <span class="required">*</span>Name:</p>
                  </div>
                  <div class="col col-12 col-md-8">
                    <input type="text" maxlength="50" class="form-control" name="associateName" required #associateName="ngModel" [(ngModel)]="updateAssociate.Name">
                    <div *ngIf="associateName.errors && (associateName.dirty || associateName.touched)">
                      <small *ngIf="(associateName.errors.required && !associateForm.submitted)">
                        Associate Name is required.
                      </small>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col col-12">
                <div class="row">
                  <div class="col col-12 col-md-4">
                    <p class="labelText">
                      <span class="required">*</span>Associate ID:</p>
                  </div>
                  <div class="col col-12 col-md-8">
                    <input type="text" class="form-control" name="associateId" #associateId="ngModel" [(ngModel)]="updateAssociate.Associate_Id"
                      readonly>
                  </div>
                </div>
              </div>
              <div class="col col-12">
                <div class="row">
                  <div class="col col-12 col-md-4">
                    <p class="labelText">
                      <span class="required">*</span>Email:</p>
                  </div>
                  <div class="col col-12 col-md-8">
                    <input type="email" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" maxlength="50" class="form-control" name="associateEmail"
                      #associateEmail="ngModel" [(ngModel)]="updateAssociate.Email" required>
                    <div *ngIf="associateEmail.errors && (associateEmail.dirty || associateEmail.touched)">
                      <small *ngIf="(associateEmail.errors.required && !associateForm.submitted)">
                        Email is required and format should be
                        <i>john@doe.com</i>.
                      </small>
                      <small *ngIf="(associateEmail.errors.pattern && !associateForm.submitted)">
                        Email is not valid and format should be
                        <i>john@doe.com</i>.
                      </small>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col col-12">
                <div class="row">
                  <div class="col col-12 col-md-4">
                    <p class="labelText">
                      <span class="required">*</span>Mobile:</p>
                  </div>
                  <div class="col col-12 col-md-8">
                    <input type="text" required pattern="^[0-9]{10}$" #associateMobile="ngModel" maxlength="10" class="form-control" name="associateMobile"
                      [(ngModel)]="updateAssociate.Mobile">
                    <div *ngIf="associateMobile.errors && (associateMobile.dirty || associateMobile.touched)">
                      <small *ngIf="(associateMobile.errors.required && !associateForm.submitted)">
                        Associate mobile is required.
                      </small>
                      <small *ngIf="(associateMobile.errors.pattern && !associateForm.submitted)">
                        Associate mobile is not valid.
                      </small>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col col-12">
                <div class="row">
                  <div class="col col-12 col-md-4">
                    <p class="labelText">
                      <span class="required">*</span>Gender:</p>
                  </div>
                  <div class="col col-12 col-md-8">
                    <p>
                      <input type="radio" value="Male" name="gender" required #gender="ngModel" [(ngModel)]="updateAssociate.Gender"> Male
                      <input type="radio" value="Female" name="gender" required #gender="ngModel" [(ngModel)]="updateAssociate.Gender"> Female
                    </p>
                    <div *ngIf="gender.errors && (gender.dirty || gender.touched)">
                      <small *ngIf="(gender.errors.required && !associateForm.submitted)">
                        Associate gender is required.
                      </small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col col-6 col-md-2 m-bottom-15px">
            <div class="image-upload">
              <input type="file" name="file" id="file" ngModel #file="ngModel" accept="image/*" class="inputfile" onclick="file.value = null"
                (change)="handleInputChange($event)" />
              <label for="file" *ngIf="imgReset == true">Upload Pic</label>
              <img [src]="updateAssociate.Pic" title="Double click this image to change the image" (dblclick)="resetImage()" class="userImgAdd"
                *ngIf="imgReset != true" />
            </div>
          </div>
          <div class="col col-6 col-md-1 m-bottom-15px">
            <div class="row">
              <div class="col col-12">
                <input type="checkbox" class="form-control status" [attr.checked]="updateAssociate.Status_Green === true" (ngModelChange)="statusValidate('Green')" [(ngModel)]="updateAssociate.Status_Green"
                   name="statusGreen" id="statusGreen">
                <label class="statuslabel indicator green" for="statusGreen">Status Green</label>
              </div>
              <div class="col col-12">
                <input type="checkbox" class="form-control status" [attr.checked]="updateAssociate.Status_Blue === true" (ngModelChange)="statusValidate('Blue')" [(ngModel)]="updateAssociate.Status_Blue"
                   name="statusBlue" id="statusBlue">
                <label class="statuslabel indicator blue" for="statusBlue">Status Blue</label>
              </div>
              <div class="col col-12">
                <input type="checkbox" class="form-control status" [attr.checked]="updateAssociate.Status_Red === true" (ngModelChange)="statusValidate('Red')"  [(ngModel)]="updateAssociate.Status_Red"
                   name="statusRed" id="statusRed">
                <label class="statuslabel indicator red" for="statusRed">Status Red</label>
              </div>
              <div class="col col-12" *ngIf="!statusRequiredCheck() && !associateForm.submitted">
                <small>
                  Associate status is required.
                </small>
              </div>
            </div>
          </div>
          <div class="col col-6 col-md-1 m-bottom-15px">
            <div class="row">
              <div class="col col-12">
                <input type="checkbox" class="form-control level" [attr.checked]="updateAssociate.Level_1 === true" (ngModelChange)="levelValidate('L1')"  [(ngModel)]="updateAssociate.Level_1"
                  name="level1"  id="level1">
                <label class="levellabel indicator grey" for="level1">L1</label>
              </div>
              <div class="col col-12">
                <input type="checkbox" class="form-control level" [attr.checked]="updateAssociate.Level_2 === true" (ngModelChange)="levelValidate('L2')" [(ngModel)]="updateAssociate.Level_2"
                  name="level2"  id="level2">
                <label class="levellabel indicator grey" for="level2">L2</label>
              </div>
              <div class="col col-12">
                <input type="checkbox" class="form-control level" [attr.checked]="updateAssociate.Level_3 === true" (ngModelChange)="levelValidate('L3')"  [(ngModel)]="updateAssociate_Level_3"
                  name="level3"  id="level3">
                <label class="levellabel indicator grey" for="level3">L3</label>
              </div>
              <div class="col col-12" *ngIf="!levelRequiredCheck() && !associateForm.submitted">
                <small>
                  Associate level is required.
                </small>
              </div>
            </div>
          </div>
          <div class="col col-12 col-md-4 m-bottom-15px">
            <div class="row">
              <div class="col col-12">
                <p class="labelText">Remarks:</p>
              </div>
              <div class="col col-12">
                <textarea class="form-control" maxlength="100" name="remarks" id="remarks" rows="5" cols="40" [(ngModel)]="updateAssociate.Remark"></textarea>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="row">
        <div class="col col-12">
          <div class="row">
            <div class="col col-12 col-md-2">
              <h3 class="header m-bottom-15px">Skills:</h3>
            </div>
            <div class="col col-12 col-md-3">
              <input type="text" class="form-control" placeholder="Search Skills(Auto Filter)" [(ngModel)]="searchSkills" name="searchskills">
            </div>
            <div class="col col-12 col-md-7">
              <div class="row">
                <div class="col col-12 col-md-4">
                  <h3 class="header">Add Skill:</h3>
                </div>
                <div class="col col-12 col-md-5">
                  <input type="text" class="form-control" required name="skillname" #skillName="ngModel" [(ngModel)]="addSkillName">
                </div>
                <div class="col col-12 col-md-3">
                  <button type="button" class="btn btn-md btn-primary" name="addSkill" (click)="AddSkill()" [disabled]="!skillName.valid">Add</button>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col col-6 col-sm-6 col-md-4" *ngFor="let skill of updateAssociate.Associate_Skills | filterbyobject: 'Skill' : 'Skill_Name' : searchSkills;let index = index;trackBy:trackByIndex;">
              <div class="skillcontainer">
                <div class="row">
                  <div class="col col-12 col-md-4">
                    <label class="labelCustom skillLabel" for="rating-{{skill.Skill.Skill_Name}}">{{skill.Skill.Skill_Name}}: </label>
                  </div>
                  <div class="col col-12 col-md-8">
                    <div class="slider-inline">
                      <span class="slider-start">{{updateAssociate.Associate_Skills[index].Rating}}</span>
                      <input class="rating" name="rating-{{skill.Skill.Skill_Name}}" [(ngModel)]="updateAssociate.Associate_Skills[index].Rating"
                        (ngModelChange)="valueChanged($event, index)" id="rating-{{index}}" #skillRef{{index}} [min]=0 [max]=20
                        type="range" value="0">
                      <span class="slider-end">20</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row m-bottom-15px">
        <div class="col col-12">
          <div class="row">
            <div class="col col-6 col-sm-6 col-md-4">
              <div class="row">
                <div class="col col-12 col-md-4">
                  <label class="labelCustom skillLabel" for="Other">Other: </label>
                </div>
                <div class="col col-12 col-md-8">
                  <input type="text" name="Other" id="Other" class="form-control" #other="ngModel" [(ngModel)]="updateAssociate.Other">
                </div>
              </div>
            </div>
            <div class="col col-6 col-sm-6 col-md-4">
              <div class="row">
                <div class="col col-12 col-md-4">
                  <label class="labelCustom skillLabel" for="Strength">Strength: </label>
                </div>
                <div class="col col-12 col-md-8">
                  <input type="text" name="Strength" id="Strength" class="form-control" #strength="ngModel" [(ngModel)]="updateAssociate.Strength">
                </div>
              </div>
            </div>
            <div class="col col-6 col-sm-6 col-md-4">
              <div class="row">
                <div class="col col-12 col-md-4">
                  <label class="labelCustom skillLabel" for="Weakness">Weakness: </label>
                </div>
                <div class="col col-12 col-md-8">
                  <input type="text" name="Weakness" id="Weakness" class="form-control" #weakness="ngModel" [(ngModel)]="updateAssociate.Weakness">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col col-md-6 ml-auto">
          <div class="actionBtns pull-right">
            <button type="button" class="btn btn-md btn-primary" (click)="DeleteConfirm('associate-delete-confirmation-modal')"> Delete</button>
            <button type="button" class="btn btn-md btn-primary" (click)="Cancel()"> Cancel</button>
            <button type="button" class="btn btn-md btn-primary" (click)="Update()" [disabled]="!associateForm.valid || !levelRequiredCheck() || !levelRequiredCheck()">
              Update</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<modal id="associate-delete-confirmation-modal">
  <div class="modal fade show" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Confirmation</h5>
          <button type="button" class="close" (click)="closeModal('associate-delete-confirmation-modal');">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Are you sure want to delete this skill?.</p>
        </div>
        <div class="modal-footer">
          <div class="col col-sm-6 text-left">
            <button type="submit" (click)="Delete()" class="btn btn-md btn-primary">Ok</button>
          </div>
          <div class="col col-sm-6 text-right">
            <button type="button" class="btn btn-md btn-primary" (click)="closeModal('associate-delete-confirmation-modal');">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-background"></div>
</modal>