<div class="container custom-container">
  <div class="row">
    <div class="col col-12">
      <h3 class="header m-bottom-15px">Skill Tracker: Add New Employee Skills</h3>
      <div class="row m-bottom-15px border-bottom-divider">
        <form #associateForm="ngForm" novalidate class="associateForm">
          <div class="col col-6 col-md-4 m-bottom-15px">
            <div class="row">
              <div class="col col-12">
                <div class="row">
                  <div class="col col-12 col-md-4">
                    <p class="labelText">
                      <span class="required">*</span>Name:</p>
                  </div>
                  <div class="col col-12 col-md-8">
                    <input type="text" maxlength="50" class="form-control" name="associateName" required #associateName="ngModel" [(ngModel)]="addAssociate.Name">
                    <div *ngIf="associateName.errors && (associateName.dirty || associateName.touched)">
                      <small *ngIf="(associateName.errors.required && !associateForm.submitted)">
                        Associate Name is required.
                      </small>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col col-12">
                <div class="row">
                  <div class="col col-12 col-md-4">
                    <p class="labelText">
                      <span class="required">*</span>Associate ID:</p>
                  </div>
                  <div class="col col-12 col-md-8">
                    <input type="text" pattern="\d*" required class="form-control" name="associateId" #associateId="ngModel" [(ngModel)]="addAssociate.Associate_Id">
                    <div *ngIf="associateId.errors && (associateId.dirty || associateId.touched)">
                      <small *ngIf="(associateId.errors.required && !associateForm.submitted)">
                        Associate ID is required.
                      </small>
                      <small *ngIf="(associateId.errors.pattern && !associateForm.submitted)">
                        Associate ID is not valid.
                      </small>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col col-12">
                <div class="row">
                  <div class="col col-12 col-md-4">
                    <p class="labelText">
                      <span class="required">*</span>Email:</p>
                  </div>
                  <div class="col col-12 col-md-8">
                    <input type="email" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" maxlength="50" class="form-control" name="associateEmail"
                      #associateEmail="ngModel" [(ngModel)]="addAssociate.Email" required>
                    <div *ngIf="associateEmail.errors && (associateEmail.dirty || associateEmail.touched)">
                      <small *ngIf="(associateEmail.errors.required && !associateForm.submitted)">
                        Email is required and format should be
                        <i>john@doe.com</i>.
                      </small>
                      <small *ngIf="(associateEmail.errors.pattern && !associateForm.submitted)">
                        Email is not valid and format should be
                        <i>john@doe.com</i>.
                      </small>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col col-12">
                <div class="row">
                  <div class="col col-12 col-md-4">
                    <p class="labelText">
                      <span class="required">*</span>Mobile:</p>
                  </div>
                  <div class="col col-12 col-md-8">
                    <input type="text" required pattern="^[0-9]{10}$" #associateMobile="ngModel" maxlength="10" class="form-control" name="associateMobile"
                      [(ngModel)]="addAssociate.Mobile">
                    <div *ngIf="associateMobile.errors && (associateMobile.dirty || associateMobile.touched)">
                      <small *ngIf="(associateMobile.errors.required && !associateForm.submitted)">
                        Associate mobile is required.
                      </small>
                      <small *ngIf="(associateMobile.errors.pattern && !associateForm.submitted)">
                        Associate mobile is not valid.
                      </small>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col col-12">
                <div class="row">
                  <div class="col col-12 col-md-4">
                    <p class="labelText">
                      <span class="required">*</span>Gender:</p>
                  </div>
                  <div class="col col-12 col-md-8">
                    <p>
                      <input type="radio" value="male" name="gender" required #gender="ngModel" [(ngModel)]="addAssociate.Gender"> Male
                      <input type="radio" value="female" name="gender" required #gender="ngModel" [(ngModel)]="addAssociate.Gender"> Female
                    </p>
                    <div *ngIf="gender.errors && (gender.dirty || gender.touched)">
                      <small *ngIf="(gender.errors.required && !associateForm.submitted)">
                        Associate gender is required.
                      </small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col col-6 col-md-2 m-bottom-15px">
            <div class="image-upload">
              <input type="file" name="file" id="file" ngModel #file="ngModel" accept="image/*" class="inputfile" onclick="file.value = null"
                (change)="handleInputChange($event)" />
              <label for="file" *ngIf="imgReset == true">Upload Pic</label>
              <img [src]="imageSrc" title="Double click this image to change the image" (dblclick)="resetImage()" class="userImgAdd" *ngIf="imgReset != true"
              />
            </div>
          </div>
          <div class="col col-6 col-md-1 m-bottom-15px">
            <div class="row">
              <div class="col col-12">
                <input type="checkbox" class="form-control status" [(ngModel)]="statusGreenChecked" (ngModelChange)="statusCheckChange('green')"
                  name="statusGreen" id="statusGreen">
                <label class="statuslabel indicator green" for="statusGreen">Status Green</label>
              </div>
              <div class="col col-12">
                <input type="checkbox" class="form-control status" [(ngModel)]="statusBlueChecked" (ngModelChange)="statusCheckChange('blue')"
                  name="statusBlue" id="statusBlue">
                <label class="statuslabel indicator blue" for="statusBlue">Status Blue</label>
              </div>
              <div class="col col-12">
                <input type="checkbox" class="form-control status" [(ngModel)]="statusRedChecked" (ngModelChange)="statusCheckChange('red')"
                  name="statusRed" id="statusRed">
                <label class="statuslabel indicator red" for="statusRed">Status Red</label>
              </div>
            </div>
          </div>
          <div class="col col-6 col-md-1 m-bottom-15px">
            <div class="row">
              <div class="col col-12">
                <input type="checkbox" class="form-control level" [(ngModel)]="level1Checked" (ngModelChange)="levelCheckChange('L1')" name="level1"
                  id="level1">
                <label class="levellabel indicator grey" for="level1">L1</label>
              </div>
              <div class="col col-12">
                <input type="checkbox" class="form-control level" [(ngModel)]="level2Checked" (ngModelChange)="levelCheckChange('L2')" name="level2"
                  id="level2">
                <label class="levellabel indicator grey" for="level2">L2</label>
              </div>
              <div class="col col-12">
                <input type="checkbox" class="form-control level" [(ngModel)]="level3Checked" (ngModelChange)="levelCheckChange('L3')" name="level2"
                  id="level3">
                <label class="levellabel indicator grey" for="level3">L3</label>
              </div>
            </div>
          </div>
          <div class="col col-12 col-md-4 m-bottom-15px">
            <div class="row">
              <div class="col col-12">
                <p class="labelText">Remarks:</p>
              </div>
              <div class="col col-12">
                <textarea class="form-control" maxlength="100" name="remarks" id="remarks" rows="5" cols="40" [(ngModel)]="addAssociate.Remark"></textarea>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="row">
        <div class="col col-12">
          <h3 class="header m-bottom-15px">Skills:</h3>
          <div class="row">
            <div class="col col-6 col-sm-6 col-md-4" *ngFor="let skill of skills;let index = index;trackBy:trackByIndex;">
              <div class="skillcontainer">
                <div class="row">
                  <div class="col col-12 col-md-4">
                    <label class="labelCustom skillLabel" for="rating-{{skill.Skill_Name}}">{{skill.Skill_Name}}: </label>
                  </div>
                  <div class="col col-12 col-md-8">
                    <div class="slider-inline">
                      <span class="slider-start">0</span>
                      <input class="rating" name="rating-{{skill.Skill_Name}}" (change)="addAssociateSkill($event, skill, index)" id="rating-{{index}}"
                        #skillRef{{index}} [min]=0 [max]=20 type="range" value="0">
                      <span class="slider-end">20</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col col-md-6 ml-auto">
          <div class="actionBtns pull-right">
            <button type="button" class="btn btn-md btn-primary" (click)="Reset()"> Reset</button>
            <button type="button" class="btn btn-md btn-primary" (click)="Cancel()"> Cancel</button>
            <button type="button" class="btn btn-md btn-primary" (click)="Save()" [disabled]="!associateForm.valid || !statusAndLevelCheck()">
              Save</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>