<div class="container custom-container">
  <div class="row">
    <div class="col col-12">
      <h3 class="header m-bottom-15px">Skill Tracker: Add New Employee Skills</h3>
      <div class="row m-bottom-15px">
        <div class="col col-md-4">
          <div class="row">
            <div class="col col-12">
              <div class="row">
                <div class="col col-12 col-md-6">
                  <p>Name:</p>
                </div>
                <div class="col col-12 col-md-6">
                  <input type="text" name="associateName" [(ngModel)]="addAssociate.Name">
                </div>
              </div>
            </div>
            <div class="col col-12">
              <div class="row">
                <div class="col col-12 col-md-6">
                  <p>Associate ID:</p>
                </div>
                <div class="col col-12 col-md-6">
                  <input type="text" name="associateId" [(ngModel)]="addAssociate.Associate_Id">
                </div>
              </div>
            </div>
            <div class="col col-12">
              <div class="row">
                <div class="col col-12 col-md-6">
                  <p>Email:</p>
                </div>
                <div class="col col-12 col-md-6">
                  <input type="text" name="associateEmail" [(ngModel)]="addAssociate.Email">
                </div>
              </div>
            </div>
            <div class="col col-12">
              <div class="row">
                <div class="col col-12 col-md-6">
                  <p>Mobile:</p>
                </div>
                <div class="col col-12 col-md-6">
                  <input type="text" name="associateMobile" [(ngModel)]="addAssociate.Mobile">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-md-2">
          <div class="image-upload">
            <input type="file" name="file" id="file" accept="image/*" class="inputfile" (change)="handleInputChange($event)" />
            <label for="file" *ngIf="imageSrc == ''">Upload Pic</label>
            <img [src]="imageSrc" class="userImgAdd" *ngIf="imageSrc != ''" />
          </div>
        </div>
        <div class="col col-md-2">
          <div class="row">
            <div class="col col-12">
              <label class="statuslabel indicator green" for="statusGreen">Status Green</label>
              <input type="checkbox" class="status" [(ngModel)]="statusGreenChecked" (ngModelChange)="statusCheckChange('green')" name="statusGreen"
                id="statusGreen">
            </div>
            <div class="col col-12">
              <label class="statuslabel indicator blue" for="statusBlue">Status Blue</label>
              <input type="checkbox" class="status" [(ngModel)]="statusBlueChecked" (ngModelChange)="statusCheckChange('blue')" name="statusBlue"
                id="statusBlue">
            </div>
            <div class="col col-12">
              <label class="statuslabel indicator red" for="statusRed">Status Red</label>
              <input type="checkbox" class="status" [(ngModel)]="statusRedChecked" (ngModelChange)="statusCheckChange('red')" name="statusRed"
                id="statusRed">
            </div>
          </div>
        </div>
        <div class="col col-md-4">
          <div class="row">
            <div class="col col-12">
              <label class="levellabel indicator grey" for="level1">L1</label>
              <input type="checkbox" class="level" [(ngModel)]="level1Checked" (ngModelChange)="levelCheckChange('L1')" name="level1" id="level1">
            </div>
            <div class="col col-12">
              <label class="levellabel indicator grey" for="level2">L2</label>
              <input type="checkbox" class="level" [(ngModel)]="level2Checked" (ngModelChange)="levelCheckChange('L2')" name="level2" id="level2">
            </div>
            <div class="col col-12">
              <label class="levellabel indicator grey" for="level3">L3</label>
              <input type="checkbox" class="level" [(ngModel)]="level3Checked" (ngModelChange)="levelCheckChange('L3')" name="level2" id="level3">
            </div>
          </div>
        </div>
      </div>
      <div class="row m-bottom-15px">
        <div class="col col-md-4">
          <div class="row">
            <div class="col col-12">
              <p>Remarks:</p>
            </div>
            <div class="col col-12">
              <textarea name="remarks" id="remarks" rows="5" cols="40" [(ngModel)]="addAssociate.Remark"></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col col-12">
          <div class="row">
            <div class="col col-6 col-sm-4 col-md-3" *ngFor="let skill of skills;let index = index;trackBy:trackByIndex;">
              <div class="skillcontainer">
                <label class="labelCustom" for="{{skill.Skill_Name}}">{{skill.Skill_Name}}: </label>
                <input name="{{skill.Skill_Name}}" id="associateSkills{{skill}}" [min]=0 [max]=20 type="range" value="0" (ngModelChange)="addAssociateSkill($event, skill)" [(ngModel)]="associateSkills[skill]">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col col-md-6 pull-right">
          <div class="actionBtns">
            <button type="button" class="btn btn-sm btn-primary" (click)="Reset()"> Reset</button>
            <button type="button" class="btn btn-sm btn-primary" (click)="Cancel()"> Cancel</button>
            <button type="button" class="btn btn-sm btn-primary" (click)="Save()"> Save</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>